{% extends 'global/base.html' %}
{% load thumbnail %}

{% block title %} Detalle de compra {% endblock title %}

{% block content %}
  <div class="container" style="margin-top:30px;">
    <div class="row">
      <div class="col">
        <h1 style="text-align:center;">Tu carrito de compras</h1>
        <table class="cart table table-bordered">
          <thead class="blue-grey lighten-4">
            <tr>
              <th>Imagen</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Eliminar</th>
              <th>Precio Unitario</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart %}
              {% with product=item.product %}
              <tr>
              <td>
                <a href="{{product.get_absolute_url}}">
                  <img src="{{product.image|thumbnail_url:'coach'}}" alt="{{product.name}}">
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>
                <form class="" action="{% url 'cart:cart_add' product.id %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.update }}
                  <input type="submit" value="Actualizar" class="btn btn-info btn-sm">
                  {% csrf_token %}
                </form>
              </td>
              <td><a href="{% url 'cart:cart_remove' product.id %}" class="btn btn-danger btn-sm">Remover</a></td>
              <td>$ {{ item.price }}</td>
              <td>$ {{ item.total_price }}</td>
              </tr>
              {% endwith %}
            {% endfor %}
            <tr>
              <td>Total</td>
              <td colspan="4"></td>
              <td>$ {{ cart.get_total_price }}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-rigth" style="text-align:right;">
          <a href="{% url 'shop:list' %}" class="btn btn-indigo">Continuar comprando</a>
          <a href="{% url 'orders:order_create' %}" class="btn btn-success">Checkout</a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
