{% extends 'global/base.html' %}

{% block title %} Checkout {% endblock %}

{% block content %}
  <div class="container" style="text-align:center;">
    <div class="row">
      <div class="col">
        <h1>Checkout</h1>
        <div class="order-info">
          <h3>Tu orden</h3>
          <ul>
            {% for item in cart %}
              <li>
                {{ item.quantity }} x {{ item.product.name }}
                <span>$ {{item.total_price}}</span>
              </li>
            {% endfor %}
          </ul>
          <p>Total: ${{ cart.get_total_price }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
