{% extends 'global/base.html' %}
{% load thumbnail %}

{% block title %}
  {% if category %}
    {{category.name}}
  {% else %}
    Lista de productos
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container" id="cont">
    <div class="row">
      <div class="col-3" id="sidebar">
        <h3 style="text-align:center;">Categorias</h3>
        <ul class="list-group">
          <li {% if not category %} class="selected list-group-item" {% endif %} class="list-group-item">
            <a href="{% url 'shop:list' %}">Todos</a>
          </li>
          {% for c in categories %}
            <li {% if category.slug == c.slug %} class="selected list-group-item" {% endif %} class="list-group-item">
              <a href="{{c.get_absolute_url}}">{{c.name}}</a> <span class="badge badge-primary badge-pill">14</span>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!--Jumbotron-->
      <div class="col">
        {% if products %}
          {% for p in products %}
          <div class="card-deck">
                    <!--Card-->
            <div class="card mb-4">

                <!--Card image-->
                <img class="img-fluid img-thumbnail" src="{% if p.image %} {{p.image|thumbnail_url:'sponsor'}} {% endif %}" alt="{{p.name}}">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title"><a href="{{p.get_absolute_url}}">{{p.name}}</a></h4>
                    <!--Text-->
                    <p class="card-text">{{p.description|truncatechars:160}}</p>
                    <hr>
                    <p> <h4>$ {{p.price}}</h4></p>
                    <a href="{{p.get_absolute_url}}" class="btn btn-primary">Ver más >></a>
                    {% if request.user.is_authenticated %}
                    <a href="#" class="btn btn-indigo">Agregar al carrito <span class="fa fa-cart-plus fa-lg"></span></a>
                    {% endif %}
                </div>

            </div>
            <br>
            <!--/.Card-->
          </div>
          {% endfor %}
        {% else %}
          <h1>No hay productos.</h1>
        {% endif %}
      </div>
      <!--Jumbotron-->
    </div>
  </div>

<style media="screen">
#cont {
  margin-top: 25px;
}

</style>
{% endblock content %}
